#contentHeading {
     font-family:'Courier New', Courier, monospace;
     text-align: center;
     font-size: 40px;
}

#content {
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
}

#darkModeBtn {
     color: rgb(59, 93, 165);
     background-color: rgb(40, 44, 43);
     font-family:'Courier New', Courier, monospace;
     font-weight: bolder;
     cursor: pointer;
     border-radius: 20px;
}

#lightModeBtn {
     color:black;
     background-color: linen;
     font-family:'Courier New', Courier, monospace;
     font-weight: bolder;
     cursor: pointer;
     border-radius: 20px;
}

#buttonsMode {
     text-align: right;
}

#quizResult {
     color: black;
}

#submitBtn {
     width: 50%;
     padding: 14px 28px;
     font-size: large;
     background-color: rgb(94, 151, 123);
     color: white;
     font-family:'Courier New', Courier, monospace;
     cursor: pointer;
     border-radius: 20px;
}

#replyQuiz {
     width: 20%;
     padding: 5px 10px;
     background-color: linen;
     font-family: 'Courier New', Courier, monospace;
     cursor: pointer;
     font-size: medium;
     border-radius: 20px;
}

.radioBtnAnsw {
     cursor: pointer;
}

.checkboxBtnsAnsw {
     cursor: pointer;
}